/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
/* ROOT */
:root {
  --border: 2px dotted black;
}

/* UTILS */

.container {
  margin: 0 auto;
  width: 70%;
  /* border: 1px dotted red; */
}
/* NAV */
.nav {
  background-color: #255ee9;
  height: 70px;
  color: white;
}
.wrapper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 110px;
}

.link {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}
.link > ul {
  list-style: none;
}
.link > ul > li {
  display: inline-block;
  padding: 15px;
}
.link > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.login {
  color: black;
  background-color: white;
  border-radius: 25px;
  padding: 9px 13px;
  font-size: 12px;
  font-weight: bold;
}

/* SEZIONE HEADER */

.header {
  background: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 460px;
  background-color: aqua;
}

.header-section {
  text-align: center;
  padding: 80px 375px 80px 375px;
  height: 460px;
}

h1 {
  color: white;
  font-size: 50px;
}
.header-intro {
  color: white;
  padding: 40px 0 20px 0;
  font-size: 18px;
  line-height: 30px;
}
.download,
.browser {
  font-size: 18px;
  border-radius: 25px;
  padding: 12px 25px;
  margin: 0 15px;
  height: 48px;
}
.download {
  background-color: white;
}
.browser {
  color: white;
  background-color: #23272a;
}

/* SEZIONI UGUALI */

.section {
  min-height: 700px;
}
.wrapper-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-section {
  flex: 0 0 60%;
  height: 500px;
  padding: 100px 0 100px 0;
}
.content-section {
  flex: 0 0 40%;
  height: 500px;
  color: #23272a;
}
.content-section > h2 {
  font-size: 45px;
  padding: 135px 0 0 100px;
}
.content-section > p {
  padding: 20px 0 20px 100px;
  font-size: 18px;
}

.dark {
  background-color: #f6f6f6;
}

/* /* SEZIONE + GRANDE */

.content-main-section {
  padding: 150px 0;
}

.content-main-section > h2 {
  font-size: 45px;
  margin-bottom: 15px;
}
.content-main-section > p {
  font-size: 18px;
  color: #23272a;
  text-align: center;
}
.item4 {
  margin: 30px 0;
}

.stars {
  text-align: center;
}

.stars > h3 {
  color: #222629;
  font-size: 30px;
  padding-top: 10px;
}

.stars > .download {
  margin: 30px 0;
  background-color: #8ea1e1;
  color: white;
  text-align: center;
  width: 200px;
}

/* FOOTER */

.darker {
  background-color: #23272a;
}

.top-footer {
  height: 385px;
}
.wrapper-top-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.main-content-footer {
  background-color: lightcoral;
  height: 350px;
  border: var(--border);
  flex: 0 0 30%;
}

.wrapper-right-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 70%;
}
.content-footer {
  background-color: lightseagreen;
  border: 2px dotted white;
  flex-basis: 25%;
  height: 350px;
}

/* LOW FOOTER */

.footer {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}

.wrapper-low-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  background-color: aquamarine;
  justify-content: space-between;
}

.logo-footer,
.bottone-footer {
  background-color: lightpink;
  border: var(--border);
  font-size: 13px;
  padding: 2px 4px;
}
